<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.appctct">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".View.Test.MainActivity" />
        <activity android:name=".View.Login.Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Setting.Register_Activity" />
        <activity android:name=".View.Test.PDFReaderActivity" />
        <activity android:name=".View.Setting.ChangePasswordActivity" />
        <activity android:name=".View.Setting.UpdatePhoneNumberActivity" />
        <activity android:name=".View.Setting.ForgotPasswordActivity" />
        <activity android:name=".View.Setting.SettingActivity" />
        <activity android:name=".View.Main.ControllerActivity" />
        <activity android:name=".View.Profile.ProfileActitivy" />
        <activity android:name=".View.SearchView.SearchActivity" />
        <activity android:name=".View.Main.SeeAllActivity"></activity>
        <activity android:name=".View.CTCT.MemberCTCTActivity"></activity>
    </application>

</manifest>