<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.appctct">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <service
            android:name=".Component.Custom.NotificationService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".View.Test.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".View.Login.Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Setting.Register_Activity" />
        <activity android:name=".View.Setting.ChangePasswordActivity" />
        <activity android:name=".View.Setting.UpdatePhoneNumberActivity" />
        <activity android:name=".View.Setting.ForgotPasswordActivity" />
        <activity android:name=".View.Setting.SettingActivity" />
        <activity android:name=".View.Main.ControllerActivity" />
        <activity android:name=".View.Profile.ProfileActitivy" />
        <activity android:name=".View.SearchView.SearchActivity" />
        <activity android:name=".View.Main.SeeAllActivity" />
        <activity android:name=".View.CTCT.MemberCTCTActivity" />
        <activity android:name=".View.Test.PDFActivity" />
        <activity
            android:name=".View.Test.ShowResultActivity"
            android:theme="@style/NoBackground" />
        <activity android:name=".View.Test.ChoiceTestActivity" />
        <activity
            android:name=".View.Test.ResultActivity"
            android:theme="@style/NoBackground" />
        <activity android:name=".View.Test.SectionOfflineActivity" />
        <activity android:name=".View.Test.TestedActivity" />
        <activity android:name=".View.Test.SeeTopActivity" />
        <activity android:name=".View.Profile.IndividualActivity" />
        <activity android:name=".View.Main.BookDetailActivity">
        </activity>
    </application>

</manifest>